<%= render "layouts/header" %>
<div class="jumbotron">
<dl>

<dt>current student:</dt>
<dd><%= @student.name %></dd>
</dl>

<% if !@student.class_rooms.empty? %>
  <dl>
    <dt>classes which belonged to:</dt>
    <dd><%= @student.class_rooms.first.name %></dd>
  </dl>
  <dl>

  <dt>teachers in this class:</dt>
  <% @student.class_rooms.first.users.where("type= 'Student'").each do |tc| %>
    <dd><%= tc.name %></dd>
  <% end %>
</dl>
<% end %>

</div>
