<%= render "layouts/header" %>
<div class="jumbotron">

  <h3>current teacher's name:</h3>
  <p><%= @teacher.name %></p>

  <% if !@teacher.class_rooms.empty? %>
    <h3>class_room which belonged to:</h3>
    <p><%= @teacher.class_rooms.first.name %></p>

    <h3>students in this class:</h3>
    <ul>
      <% @teacher.class_rooms.first.users.where("type= 'Student'").each do |st| %>
      <li><%= st.name %></li>
      <% end %>
    </ul>
  <% end %>

</div>
